* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #f1f1f1;
    font-family: sans-serif;
}

.container {
    margin: 100px auto;
    width: 540px;
    max-width: 100%;
    padding: 0 20px;

    > h1 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 40px;
    }
}
